<html>

<head>
    <title>Classes</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="lessons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showLesson'>
                <div v-for="lesson in sortedLessons">
                    <div class="card ml-5 shadow-sm mt-5 md-4" style="width:400px">
                        <h2 v-text="lesson.title" class="card-title"></h2>
                        <div class="card-body">
                            <figure>
                                <img class="card-img-top" v-bind:src="lesson.image">
                            </figure>
                            <p class ="card-text">Location: {{lesson.location}}</p>
                            <p class ="card-text">Price: {{lesson.price}}</p>
                            <p class ="card-text">Spaces: {{lesson.spaces}}</p>

                    <!-- <button v-on:click="addToCart" 
                    v-show='canAddToCart'>
                    Add to cart
                    </button> -->

                    <button v-on:click='addToCart(lesson)' v-if='canAddToCart(lesson)'>Add to cart</button>

                    <button disabled="disabled" v-else>Add to cart</button>

                    <span v-if='lesson.spaces === cartCount(lesson.id)'>All out!</span>
                    <span v-else-if="lesson.spaces - cartCount(lesson.id) < 5">
                        Only {{lesson.spaces - cartCount(lesson.id)}} left!
                    </span>
                    <span v-else>Buy now!</span>

                    <div>
                        <span v-for='n in lesson.rating'>★</span>
                        <span v-for='n in 5-lesson.rating'>☆</span>
                    </div>
                </div>
                </div>
                </div>
            </div>

            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.firstName" />
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model.trim="order.lastName" />
                </p>
                <p>
                    <strong>Address:</strong>
                    <input v-model="order.address" />
                </p>
                <p>
                    <strong>City:</strong>
                    <input v-model="order.city" />
                </p>
                <p>
                    <strong>State:</strong>
                    <select v-model="order.state">
                        <option disabled value="">State</option>
                        <option v-for="(state, key) in states" v-bind:value="state">
                            {{key}}
                        </option>
                        <!-- <option v-bind:value="states.AL">AL</option>
                        <option v-bind:value="states.AR">AR</option>
                        <option v-bind:value="states.CA">CA</option>
                        <option v-bind:value="states.NV">NV</option> -->
                    </select>
                </p>
                <p>
                    <strong>Zip / Postal Code:</strong>
                    <input v-model.number="order.zip" type="number" />
                </p>

                <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift"
                        v-bind:false-value="order.dontSendGift">
                    <label for="gift">Ship As Gift?</label></p>

                <p>
                    <input type="radio" id="home" value="Home" v-model="order.method">
                    <label for="home">Home</label>
                    <input type="radio" id="business" value="Business" v-model="order.method">
                    <label for="business">Business</label>
                </p>

                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                <p>Gift? {{order.gift}}</p>
                <p>Method: {{order.method}}</p>
                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Vue.js Classes',
                lessons: lessons,
                // product: {
                //     id: 1001,
                //     title: "Cat Food, 25lb bag",
                //     description: "A 25 pound bag of <em>irresistible</em>, " + "organic goodness for your cat.",
                //     price: 2000,
                //     image: "images/product-fullsize.png",
                //     availableInventory: 10,
                //     rating: 3
                // },
                cart: [],
                showLesson: true,
                order: {
                    firstName: '',
                    lastName: '',
                    address: '',
                    city: '',
                    zip: '',
                    state: '',
                    method: 'Home',
                    gift: 'Send as a gift',
                    sendGift: 'Send as a gift',
                    dontSendGift: 'Do not send as a gift'
                },
                states: {
                    AL: 'Alabama',
                    AR: 'Arizona',
                    CA: 'California',
                    NV: 'Nevada'
                },
            },
            // created: function () {
            //     this.products = allProducts
            // },
            methods: {
                addToCart(lesson) {
                    this.cart.push(lesson.id);
                    this.lesson.spaces=-1;
                    // console.log('adding to cart', product.id)
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showLesson = this.showLesson ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                },
                canAddToCart(lesson) {
                    return lesson.spaces > this.cartCount(lesson.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                // canAddToCart(product) {
                //     return product.availableInventory > this.cartItemCount;
                // }
                sortedLessons() {
                    let lessonsArray = this.lessons.slice(0);
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return lessonsArray.sort(compare);
                }
            },
        });
    </script>
</body>

</html>